<!DOCTYPE html>
<html>
  <head>
    <title>Donut Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag "donut.png" %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: name %>
    <% end %>

    <%= yield %>
  </body>
</html>
